<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <title>GetFat.at Order Page</title>
    <link rel="icon" type="image/icon" href="/src/assets/logo.png">
    <link rel="stylesheet" href="/src/styles/order-page.css">
    <script src="/src/scripts/order-page.js"></script>
</head>

<body>
    <div class="container-fluid ">

        <div class="row ">
            <div class="col-2 accordion filter-view">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFilter" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseFilter">
                            Filter
                        </button>
                    </h3>
                    <div id="panelsStayOpen-collapseFilter" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <p>Price</p>
                            <input type="range" value="0" min="1" max="200"
                                oninput="this.nextElementSibling.value = this.value">
                            <!-- nextElementSibling refers to the next HTML element. -->
                            <output id="price-value">0</output>
                        </div>

                        <div class="accordion-body">
                            <p>Restaurant</p>
                            <input class="form-control filter-restaurant" type="text" placeholder="Origano">
                        </div>
                        <div class="accordion-body">

                            <p>Categorie</p>
                            <input class="form-control filter-category" type="text" placeholder="burger">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 main-view">
                <div class="search-bar">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseSearchBar" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseSearchBar">
                                    Search food
                                </button>
                            </h3>
                            <div id="panelsStayOpen-collapseSearchBar" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <input class="form-control food-search-input" type="text" placeholder="Burger">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="categories-view">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h3> <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseCategories" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseCategories">
                                    Categorie
                                </button>
                            </h3>
                            <div id="panelsStayOpen-collapseCategories"
                                class="accordion-collapse collapse show container">
                                <div class="accordion-body category-container row">
                                    <div class="col-2 indian-container">
                                        <a href="/public/views/category/indian.html">
                                            <img src="/src/assets/category/indian.avif" class="indian-image">
                                            <p>Indian</p>
                                        </a>
                                    </div>
                                    <div class="col-2 burger-container">
                                        <a href="/public/views/category/burgers.html">
                                            <img src="/src/assets/category/burgers.png" class="burger-image">
                                            <p>Burgers</p>
                                        </a>
                                    </div>
                                    <div class="col-2 pizza-container">
                                        <a href="/public/views/category/pizza.html">
                                            <img src="/src/assets/category/pizza.jpg" class="pizza-image">
                                            <p>Pizzas</p>
                                        </a>
                                    </div>
                                    <div class="col-2 schnitzel-container">
                                        <a href="/public/views/category/schnitzel.html">
                                            <img src="/src/assets/category/schnitzel.jpg" class="schnitzel-image">
                                            <p>Schnitzel</p>
                                        </a>
                                    </div>
                                    <div class="col-2 vegan-container">
                                        <a href="/public/views/category/vegan.html">
                                            <img src="/src/assets/category/vegan.jpg" class="vegan-image">
                                            <p>Vegan</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="all-restaurants-view ">
                    <div class="accordion">
                        <div class="accordion-item ">
                            <h3> <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseRestaurants" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseRestaurants">
                                    All Restaurants
                                </button>
                            </h3>
                            <div id="panelsStayOpen-collapseRestaurants"
                                class="accordion-collapse collapse show container">
                                <div class="accordion-body all-restaurants-container row">
                                    <div class="col-4 origano-container">
                                        <a href="/public/views/origano.html">
                                            <img src="/src/assets/restaurants/origano.png">
                                            <p>Origano</p>
                                        </a>
                                    </div>
                                    <div class="col-4 burger-specialist-container">
                                        <a href="/public/views/burger-specialist.html">
                                            <img src="/src/assets/restaurants/burger-specialist.png">
                                            <p>Burger Specialist</p>
                                        </a>
                                    </div>
                                    <div class="col-4 pizza-crazy-container">
                                        <a href="/public/views/pizza-crazy.html">
                                            <img src="/src/assets/restaurants/pizza-crazy.png">
                                            <p>Pizza Crazy</p>
                                        </a>
                                    </div>
                                    <div class="col-4 indiana-spice-container">
                                        <a href="/public/views/indiana-spice.html">
                                            <img src="/src/assets/restaurants/indiana-spice.png">
                                            <p>Indiana Spice</p>
                                        </a>
                                    </div>
                                    <div class="col-4 pizzeria-aladdin-container">
                                        <a href="/public/views/pizzeria-aladdin.html">
                                            <img src="/src/assets/restaurants/pizzeria-aladdin.png">
                                            <p>Pizzeria Aladdin</p>
                                        </a>
                                    </div>
                                    <div class="col-4 flattened-hen-container">
                                        <a href="/public/views/flattened-hen.html">
                                            <img src="/src/assets/restaurants/flattened-hen.png">
                                            <p>Flattened Hen</p>
                                        </a>
                                    </div>
                                    <div class="col-4 get-colesterol-container">
                                        <a href="/public/views/restaurants/get-colesterol.html">
                                            <img src="/src/assets/restaurants/get-colesterol.png">
                                            <p>Get Colesterol</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>

</html>