<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <title>GetFat.at Order Page</title>
    <link rel="icon" type="image/icon" href="/src/assets/logo.png">
    <link rel="stylesheet" href="/src/styles/order-page.css">
    <script src="/src/scripts/order-page.js"></script>
</head>

<body>
    <div class="container-fluid ">

        <div class="row ">
            <aside class="col-2 accordion filter-view">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFilter" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseFilter">
                            Filter
                        </button>
                    </h3>

                    <div id="panelsStayOpen-collapseFilter" class="accordion-collapse collapse show">
                        <fieldset class="accordion-body">
                            <legend>Price</legend>
                            <input type="range" value="0" min="0" max="200"
                                oninput="this.nextElementSibling.value = this.value">
                            <!-- nextElementSibling refers to the next HTML element. -->
                            <output id="price-value">0</output>
                        </fieldset>

                        <fieldset class="accordion-body">
                            <legend>Restaurant</legend>
                            <input class="form-control filter-restaurant" type="text" placeholder="Origano">
                        </fieldset>

                        <fieldset class="accordion-body">
                            <legend>Categorie</legend>
                            <input class="form-control filter-category" type="text" placeholder="Burger">
                        </fieldset>
                    </div>
                </div>
            </aside>

            <main class="col-9 main-view">
                <section class="search-bar">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseSearchBar" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseSearchBar">
                                    Search food
                                </button>
                            </h3>

                            <div id="panelsStayOpen-collapseSearchBar" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div id="food-search">
                                        <input class="form-control" id="food-search-input" type="text"
                                            placeholder="Burger">
                                        <ul id="food-search-list" tabindex="0"> </ul>
                                    </div>
                                    <div id="food-search-results">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="categories-view">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h3> <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseCategories" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseCategories">
                                    Categorie
                                </button>
                            </h3>

                            <div id="panelsStayOpen-collapseCategories"
                                class="accordion-collapse collapse show container">
                                <div class="accordion-body category-container row">
                                    <div class="col-2 indian-container">
                                        <a href="/public/views/category/indian.html">
                                            <figure>
                                                <img src="/src/assets/category/indian.avif" class="indian-image"
                                                    alt="Picture of a curry.">
                                                <figcaption>Indian</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-2 burger-container">
                                        <a href="/public/views/category/burgers.html">
                                            <figure>
                                                <img src="/src/assets/category/burgers.png" class="burger-image"
                                                    alt="Picture of a burger.">
                                                <figcaption>Burgers</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-2 pizza-container">
                                        <a href="/public/views/category/pizza.html">
                                            <figure>
                                                <img src="/src/assets/category/pizza.jpg" class="pizza-image"
                                                    alt="Picture of a pizza.">
                                                <figcaption>Pizzas</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-2 schnitzel-container">
                                        <a href="/public/views/category/schnitzel.html">
                                            <figure>
                                                <img src="/src/assets/category/schnitzel.jpg" class="schnitzel-image"
                                                    alt="Picture of a schnitzel with chips.">
                                                <figcaption>Schnitzel</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-2 vegan-container">
                                        <a href="/public/views/category/vegan.html">
                                            <figure>
                                                <img src="/src/assets/category/vegan.jpg" class="vegan-image"
                                                    alt="Picture of a vegan steak and vegetable meal.">
                                                <figcaption>Vegan</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="all-restaurants-view ">
                    <div class="accordion">
                        <div class="accordion-item ">
                            <h3> <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseRestaurants" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseRestaurants">
                                    All Restaurants
                                </button>
                            </h3>
                            <div id="panelsStayOpen-collapseRestaurants"
                                class="accordion-collapse collapse show container">
                                <div class="accordion-body all-restaurants-container row">
                                    <div class="col-4 origano-container">
                                        <a href="/public/views/origano.html" aria-label="Origano Restaurant">
                                            <figure>
                                                <img src="/src/assets/restaurants/origano.png"
                                                    alt="Picture of burgers and chips.">
                                                <figcaption>Origano</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-4 burger-specialist-container">
                                        <a href="/public/views/burger-specialist.html" aria-label="Burger Specialist">
                                            <figure>
                                                <img src="/src/assets/restaurants/burger-specialist.png"
                                                    alt="Picture of a burger and different sorts of chips.">
                                                <figcaption>Burger Specialist</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-4 pizza-crazy-container">
                                        <a href="/public/views/pizza-crazy.html" aria-label="Pizza Crazy">
                                            <figure>
                                                <img src="/src/assets/restaurants/pizza-crazy.png"
                                                    alt="Picture of a pizza.">
                                                <figcaption>Pizza Crazy</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-4 indiana-spice-container">
                                        <a href="/public/views/indiana-spice.html" aria-label="Indiana Spice">
                                            <figure>
                                                <img src="/src/assets/restaurants/indiana-spice.png"
                                                    alt="Picture of sushi and other Asian food.">
                                                <figcaption>Indiana Spice</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-4 pizzeria-aladdin-container">
                                        <a href="/public/views/pizzeria-aladdin.html" aria-label="Pizzeria Aladdin">
                                            <figure>
                                                <img src="/src/assets/restaurants/pizzeria-aladdin.png"
                                                    alt="Picture of multiple pizzas and burgers.">
                                                <figcaption>Pizzeria Aladdin</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-4 flattened-hen-container">
                                        <a href="/public/views/flattened-hen.html" aria-label="Flattened Hen">
                                            <figure>
                                                <img src="/src/assets/restaurants/flattened-hen.png"
                                                    alt="Picture of a Schnitzel.">
                                                <figcaption>Flattened Hen</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="col-4 get-colesterol-container">
                                        <a href="/public/views/restaurants/get-colesterol.html"
                                            aria-label="Get Colesterol">
                                            <figure>
                                                <img src="/src/assets/restaurants/get-colesterol.png"
                                                    alt="Picture of a burger with chips.">
                                                <figcaption>Get Colesterol</figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>

        </div>
    </div>

</body>

</html>