.main-view,
.filter-view {
    /*display: flex;
    justify-content: center;    
    align-items: center;
 */
    margin-top: 2rem;
    outline: 0.05rem solid red;
}

.main-view {
    margin-right: 1rem;
    padding: 2rem 2rem 2rem 2rem;

}


.filter-view {
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 2rem 0rem 2rem 0rem;
}

.category-container .col-2 a img {
    width: 50%;
    height: 50%;
}

.all-restaurants-container .col-4 a img {
    width: 100%;
    height: 70%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
} 